<p> First you limp to the side like your leg was broken, shakin and twistin kinda like you was smokin'' </p>

<p>Return to Main <a href="/posts">Return</a></p>

        <form 
            method="get"
            action="/posts">
                <button type="return">[Big Pimpin'']</button>
        </form>