@model Post
<form asp-controller="Blog" asp-action="HandleCreate">
    <p>
        <label asp-for="title"></label>
        <input asp-for="title">
    </p>
    <p>
        <label asp-for="content"></label>
        <input asp-for="content">
    </p>
    <button type="submit">Save</button>
</form>